:root{
    --colora:#1f1f1f;
    --colora_a:#1f1f1fb7;
    --colorb:#1a1a1a;
    --colorc:#6674ee;
    overflow: hidden;
}

*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*::-webkit-scrollbar{
    width: 0;
    height: 0;
}

html,body{
    width: 100%;
    height: 100%;
    overflow: none;
}

div,img,a{
    width: 100%;
    height: 100%;
    display: flex;
}

p{
    width: max-content;
    height: max-content;
}

.cont_principal{
    flex-direction: column;
    padding-bottom: 35px;
}

.header_principal{
    height: 90px;
    background-color: #1f1f1f;
    border-bottom: solid 8px rgba(255, 255, 255, 0.486);
}

.cuerpo_principal{
    background-color: rgb(223, 227, 230);
    padding-bottom: 12px;
}

.cont_img_logo_header{
    width: 80px;
    height: 80px;
    padding: 10px;
}

.img_logo_header{
    border-radius: 4px;
}

.pestaña{
    padding: 6px;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 50px;
}


.introduccion_inicio{
    height: min-content;
    text-align: center;
    background-color: var(--colorb);
    color: rgb(195, 195, 195);
    padding: 22px;
    border-radius: 6px;
    font-size: x-large;
    justify-content: center;
    text-align: start;
    font-family:Georgia, 'Times New Roman', Times, serif;
}#introduccion_inicio_info{
    flex-direction: column;
    align-items: center;
}

.cont_img_sat{
    padding: 23px;
}

.img_sat{
    padding: 8px;
}

.informacion_cartas_porte{
    flex-direction: column;
}

.cont_p_inf_cart{
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: max-content;
}#p_inf_cart_titulo{
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.762);
    padding: 22px;
    border-radius: 5px;
    color: #1a1a1a;
}

.p_inf_cart{

}

.fila_cuerpo{
    /* min-height: 400px; */
    flex-direction: column;
    padding: 12px;
}

.cont_img_contacto{
    padding: 38px;
}

.img_contacto{
    /* margin-top: 18px; */
    /* margin-bottom: 18px; */
}

.p_info_carta_porte_titulo{
    font-size: 28px;
    padding: 10px;
    padding-left: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p_info_carta_porte_descripcion{
    padding: 10px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p_info_carta_porte_descripcion_beneficios{
    padding: 10px;
    padding-left: 45px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}